page-menu{
  .toolbar-background{
    background-color: #66a3d3;
  }
  .toolbar-title{
    color: white;
  }

  .btn{
    height: 19.18%;
  }

  #newR{
    background-color:red;
  }
  #conR{
    background-color:green;
  }
  #pra{
    background-color: purple;
  }
  #med{
    background-color: blue;
  }
  #vis{
    background-color: orange;
  }
}
