page-menu{
  .btn{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #newR{
    background-color:red;
  }
  #conR{
    background-color:green;
  }
  #pra{
    background-color: purple;
  }
  #med{
    background-color: blue;
  }
  #vis{
    background-color: orange;
  }
}
